<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<head th:replace="common/header :: head"></head>
		
		<!-- Add additional custom css here - START -->
		
		
		
		<!-- Add additional custom css here - END -->
	</head>
	<body>
		<div th:replace="common/header :: top-navigation">...</div>
	
		<!-- Add page specific code/html START -->
		
		<div class="container">
	
			<div>
				<br/>
				<h3>Cadastro de Ve&iacute;culo</h3>
				<form th:action="@{/registration}" method="post">
					<div class="row">
						<div class="col">
						  	<label for="marca">Marca</label>
					  		<input type="text" class="form-control" id="marca" placeholder="Marca">
						</div>
						<div class="col">
						  	<label for="modelo">Modelo</label>
					  		<input type="text" class="form-control" id="modelo" placeholder="Modelo">
						</div>
						<div class="col">
						  	<label for="ano">Ano</label>
					  		<input type="text" class="form-control" id="ano" placeholder="Ano">
						</div>
					</div><br/>
					<div class="row">
						<div class="col">
						  	<label for="placa">Placa</label>
					  		<input type="text" class="form-control" id="placa" placeholder="Placa">
						</div>
						<div class="col">
						  	<label for="km">Kilometragem</label>
					  		<input type="text" class="form-control" id="km" placeholder="Kilometragem">
						</div>
						<div class="col">
						  	<label for="combustivel">Combust&iacute;vel</label>
					  		<input type="text" class="form-control" id="combustivel" placeholder="Combust&iacute;vel">
						</div>
					</div><br/>
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>
		</div>
		
		<!-- Add page specific code/html END -->
	
		<div th:replace="common/footer :: footer">...</div>
	    
	</body>
</html>