<!DOCTYPE HTML>
 
<html>
	<head>
	      <title>Spring Boot - Bootstrap Filter List</title>
	      <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	      <script src="../../js/jqueryAjaxGet.js"></script>
	      <style>
	      	li {
			    color: black;
			}
			li:nth-child(odd) {
			    color: #333300;
			}
			li:nth-child(even) {
			    color: blue;
			}
	      </style>
	</head>
	 
	<body>
	<div class="container">
			<h2>Filter List</h2>
			<div class="row col-md-8">
				<div style="margin-bottom:20px; padding:10px; background-color:#336699; color:white;">
			  	<p>Type some text to search the List for <strong>Id</strong>, <strong>Name</strong>, <strong>Age</strong>, <strong>Street</strong>, <strong>PostCode</strong>:</p>  
			  	<input class="form-control" id="inputFilter" type="text" placeholder="Search.." />
			  	</div>
				<div>
					<ul class="list-group" id="customerList"></ul>
				</div>
			</div>
		</div>
		
	</body>
</html>